
$widescreen-enabled: false;
$fullhd-enabled: false;
$navbar-dropdown-background-color: transparent;

@import "../../bulma-0.7.2/bulma";

.content{
    p{
        line-height: 220%;
        font-size: 105%;
    }
}
.has-background-transparent{
    background: transparent !important;
}
.has-background-image-centered{
    background-position: center;
    background-size: cover;
}

.is-vertical-centered {
    display: flex !important;
    flex: 1 !important;
    align-items: center !important;
}

.has-round-corners{
    border-radius: 5px;
}
.has-overlay{
    position: relative;
}
.has-overlay:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .55;

}

.intro-section{
    margin-block-end: 2em !important;
    margin-block-start: 2em !important;
    flex-direction: row-reverse;
    text-align: justify;

    .column{
        min-height:20em;
    }
}

.intro-section:nth-child(odd){
    flex-direction: row;
}

#main-header{
    background-image: url(../../assets/imgs/KAPshortVideo.mp4);
}


ul, li{
    list-style-type: none !important;
}

#myVideo {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100% !important; 
    min-height: 100% !important;
    object-fit: cover;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
}

.footer{
    &.has-background-primary{
        &.is-bold{
            background: $primary;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to top, $primary, white);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top, $primary, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
    }

}