
$widescreen-enabled: false;
$fullhd-enabled: false;

@import "../../bulma-0.7.2/bulma";

.has-background-image-centered{
    background-position: center;
    background-size: cover;
}

.is-vertical-centered {
    display: flex !important;
    flex: 1 !important;
    align-items: center !important;
}

.has-round-corners{
    border-radius: 5px;
}

.has-overlay:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .35;

}

.intro-section{
    margin-block-end: 2em !important;
    margin-block-start: 2em !important;
    flex-direction: row-reverse;
    text-align: justify;

    .column{
        min-height:20em;
    }
}

.intro-section:nth-child(odd){
    flex-direction: row;
}

#main-header{
    background-image: url(../../assets/imgs/KAP-1.png);
}


ul, li{
    list-style-type: none !important;
}

