


@import "../../bulma-0.7.2/bulma";

.has-background-image-centered{
    background-position: center;
    background-size: cover;
}

.has-round-corners{
    border-radius: 5px;
}
#main-header{
    background-image: url(../../assets/imgs/KAP-1.png);
}